# Enable URL rewriting
RewriteEngine On

# Set the base directory for the rewrite rules
RewriteBase /

# Serve JavaScript files with the correct MIME type
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>

# If the request is for a real file or directory, skip the rewrite rules
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite all other requests to the index.html file
RewriteRule ^ index.html [L]